table {
    table-layout: auto;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: -1px;
    background-color: yellow;
    border: 1px solid blueviolet;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid blueviolet;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightblue;
}

select {
    text-indent: 5px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: purple;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid purple;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    margin-bottom: 10px;
}

select > option {
    color: purple;
}

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0 10px 0;
}

label {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: -20px 10px 5px 0;
}

.form input {
    width: 100%;
    vertical-align: middle;
    margin: 10px 10px 5px 0;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid whitesmoke;
}

#interval {
    transform: scale(1.5);
}

p {
    color: red;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
