body {
    margin: 0;
    background-color: navajowhite;
    user-select: none;
}

#header {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #20b2aa;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    align-items: center;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
    width: 100%;
}

table {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: -1px;
    background-color: yellow;
    border: 1px solid #8a2be2;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid #8a2be2;
    text-align: center;
    padding: 8px;
    user-select: text;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: lightblue;
}


select {
    text-indent: 5px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #8a2be2;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 275px;
    max-width: 100%;
    height: 45px;
    border: 1px solid #8a2be2;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    outline: none
}

select > option {
    color: #8a2be2;
    outline: none
}


label {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

input[type='date'] {
    width: 250px;
    display: block;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid whitesmoke;
    outline: none;
}

input[type='checkbox'] {
    transform: scale(1.5);
    display: inline-block;
}

p {
    color: red;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

#switch-currencies-btn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: yellowgreen;
    border: none;
    border-radius: .5em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 110px;
    height: 45px;
    outline: none;
    margin-top: 25px;
}

#switch-currencies-btn:hover {
    background-color: lightsalmon;
}

#switch-currencies-btn:active {
    background-color: lightseagreen;
}

#switch-currencies-btn:disabled {
    background-color: #a9a9a9;
}

#scroll-to-top {
    position: fixed;
    bottom: 13%;
    right: 1.5%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightgreen;
    color: #8a2be2;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    opacity: 0.7;
    width: 75px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 15px;
    grid-template-areas:
    "start end interval"
    "from to switch";
    margin-bottom: 15px;
}

#start-date {
    grid-area: start
}

#end-date {
    grid-area: end
}

#interval-label {
    grid-area: interval
}

#from-currency {
    grid-area: from
}

#to-currency {
    grid-area: to
}

#switch-currencies-btn {
    grid-area: switch
}

.grid-item {
    justify-self: center;
    align-self: center;
}


/* for screen between 650px and 1000 px */
@media screen and (min-width: 650px) and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "start from"
        "end to"
        "interval switch";
    }

    input[type='date'] {
        width: 255px;
    }

    #switch-currencies-btn {
        width: 275px;
        align-self: flex-start;
    }

    #scroll-to-top {
        text-align: center;
        width: 50px;
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }

    .grid-item {
        justify-self: center;
        align-self: center;
    }
}


/* for screen between 355px and 650 px */
@media screen and (min-width: 355px) and (max-width: 650px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(75px, auto);
        grid-template-areas:
        "start from"
        "end to"
        "interval switch";
        margin-bottom: 0;
    }

    label {
        font-size: 17px;
    }

    input[type='date'] {
        width: 150px;
    }

    select {
        width: 170px;
        text-indent: 1px;
        font-size: 12px;
    }

    #switch-currencies-btn {
        width: 170px;
        margin-bottom: 25px;
    }

    #scroll-to-top {
        text-align: center;
        width: 50px;
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }

    .grid-item {
        justify-self: center;
        align-self: center;
    }
}


/* for screen between 0px and 355 px */
@media screen and (min-width: 0px) and (max-width: 355px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(35px, auto);
        grid-template-areas:
        "start"
        "end"
        "interval"
        "from"
        "switch"
        "to";
        margin-bottom: 20px;
    }

    label {
        font-size: 15px;
    }

    input[type='date'] {
        width: 150px;
    }

    #switch-currencies-btn {
        margin-bottom: 25px;
        width: 275px;
    }

    select {
        width: 170px;
        text-indent: 1px;
        font-size: 12px;
    }

    #switch-currencies-btn {
        width: 170px;
        margin-bottom: 25px;
    }

    #scroll-to-top {
        text-align: center;
        width: 50px;
        font-size: 12px;
        font-weight: bold;
        color: #000;
    }

    .grid-item {
        justify-self: center;
        align-self: center;
    }
}
